.my-carousel{
    margin-top: -61px;
}
.my-img{
    filter: brightness(30%);
}
.my-caption{
    filter: none;
}
@media (max-width:991px) {
    .my-carousel {
        margin-top: -61px;
        /* height: 300px; */
    }
}